[submodule "Practice/Assets//Tools"]
	path = Practice/Assets//Tools
	url = https://github.com/OwynnA/Scripts
[submodule "Matching/Assets/Tools"]
	path = Matching/Assets/Tools
	url = https://github.com/OwynnA/Scripts
